/* Write your CSS here */
.button {
  color: #303150;
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  height: 36px;
  width: 90px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
